.main {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center ;
}

.pokemonCard-container {
    display: flex;
    flex-direction: column;
    width: 200px;
    border-radius: 10px;
    margin: 1rem;
    border: 2px solid;
}

.pokemonCard-nameImg {
    border-radius: 10px;
    padding: 10px 0;
    text-transform: uppercase;
}

.pokemonCard-nameImg img {
    width: 120px;
    height: 120px;
}

.pokemonCard-Info {
    padding: 10px;
}

.pokemonCard-type {
    list-style: none;
    padding: 0.4rem;
}